<h1>This is us!</h1>
<p>So hot, so fresh</p>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
		<%= image_tag("242x200.jpg", :alt => "rss feed") %>      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>This is John Smith. Lead Engineer and all around Rock Star.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("242x200.jpg", :alt => "rss feed") %>
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>This is John Smith. Lead Engineer and all around Rock Star.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
		<%= image_tag("242x200.jpg", :alt => "rss feed") %>      
		<div class="caption">
        <h3>Thumbnail label</h3>
        <p>This is John Smith. Lead Engineer and all around Rock Star.</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
